In [1]:
import os
import pandas as pd
import re

files = sorted(os.listdir("./data/census.gov"))
files

['ACSPUMS1Y2008_2025-04-18T04_21_22.482Z.csv',
 'ACSPUMS1Y2009_2025-04-18T04_21_34.368Z.csv',
 'ACSPUMS1Y2010_2025-04-18T04_21_40.596Z.csv',
 'ACSPUMS1Y2011_2025-04-18T04_21_49.180Z.csv',
 'ACSPUMS1Y2012_2025-04-18T04_22_00.478Z.csv',
 'ACSPUMS1Y2013_2025-04-18T04_22_18.713Z.csv',
 'ACSPUMS1Y2014_2025-04-18T04_22_29.396Z.csv',
 'ACSPUMS1Y2015_2025-04-18T04_22_40.623Z.csv',
 'ACSPUMS1Y2016_2025-04-18T04_22_51.846Z.csv',
 'ACSPUMS1Y2017_2025-04-18T04_23_02.358Z.csv',
 'ACSPUMS1Y2018_2025-04-18T04_29_44.912Z.csv',
 'ACSPUMS1Y2019_2025-04-18T04_29_59.292Z.csv',
 'ACSPUMS1Y2021_2025-04-18T04_30_09.723Z.csv',
 'ACSPUMS1Y2022_2025-04-18T04_30_17.844Z.csv',
 'ACSPUMS1Y2023_2025-04-18T04_30_26.557Z.csv']

In [2]:
df = pd.DataFrame(
    columns=[
        "Year",
        "Age",
        "Gender",
        "Educational Attainment",
        "Race",
        "Personal Income",
        "Population Count",
    ]
)

In [3]:
def count_arrows(line):
    n = 0
    for i in range(len(line)):
        if line[i] == "-":
            if line[i + 1] == ">":
                n += 1
    return n


def cleanup(fn):
    with open("./data/census.gov/" + fn, "r") as fd:
        content = fd.readlines()
    year = re.search("(\d\d\d\d)", content[0]).groups()[0]
    content = content[11:]
    for line in content:
        ar = count_arrows(line)
        if ar == 4:
            parts = line.split("->")
            ag = parts[1].strip()
            gn = parts[2].strip()
            ed = parts[3].strip()
            rc = parts[4].strip().split('"')[0]
        elif ar == 0:
            parts = line.split('"')
            pi = parts[3].strip()
            cn = parts[5].strip()
            df.loc[len(df)] = (year, ag, gn, ed, rc, pi, cn)

In [4]:
for fn in files:
    print(fn)
    cleanup(fn)

ACSPUMS1Y2008_2025-04-18T04_21_22.482Z.csv
ACSPUMS1Y2009_2025-04-18T04_21_34.368Z.csv
ACSPUMS1Y2010_2025-04-18T04_21_40.596Z.csv
ACSPUMS1Y2011_2025-04-18T04_21_49.180Z.csv
ACSPUMS1Y2012_2025-04-18T04_22_00.478Z.csv
ACSPUMS1Y2013_2025-04-18T04_22_18.713Z.csv
ACSPUMS1Y2014_2025-04-18T04_22_29.396Z.csv
ACSPUMS1Y2015_2025-04-18T04_22_40.623Z.csv
ACSPUMS1Y2016_2025-04-18T04_22_51.846Z.csv
ACSPUMS1Y2017_2025-04-18T04_23_02.358Z.csv
ACSPUMS1Y2018_2025-04-18T04_29_44.912Z.csv
ACSPUMS1Y2019_2025-04-18T04_29_59.292Z.csv
ACSPUMS1Y2021_2025-04-18T04_30_09.723Z.csv
ACSPUMS1Y2022_2025-04-18T04_30_17.844Z.csv
ACSPUMS1Y2023_2025-04-18T04_30_26.557Z.csv

In [5]:
df.head()

,Year,Age,Gender,Educational Attainment,Race,Personal Income,Population Count
0,2008,00 to 17,Male,High school or equivalent,White,"$5,000 to $9,999","1,834"
1,2008,00 to 17,Male,High school or equivalent,White,"$10,000 to $14,999",381
2,2008,00 to 17,Male,High school or equivalent,White,"$15,000 to $24,999",135
3,2008,00 to 17,Male,High school or equivalent,White,"$25,000 to $34,999",268
4,2008,00 to 17,Male,High school or equivalent,White,"$35,000 to $49,999",0

In [6]:
df.tail()

,Year,Age,Gender,Educational Attainment,Race,Personal Income,Population Count
14395,2023,65 to 80+,Female,No high school diploma,Other,"$25,000 to $34,999","16,756"
14396,2023,65 to 80+,Female,No high school diploma,Other,"$35,000 to $49,999","11,705"
14397,2023,65 to 80+,Female,No high school diploma,Other,"$50,000 to $74,999","4,835"
14398,2023,65 to 80+,Female,No high school diploma,Other,"$75,000 and over","3,176"
14399,2023,65 to 80+,Female,No high school diploma,Other,No Income,"58,486"

In [7]:
df.to_csv("./data/in/data.gov_personal_income.csv", index=False)